<div class="main">
    <form action="/" method="post">
        <select name="opt" onchange="showOnChange(this)">
            <option name="url" value="url">Link to Webpage</option>
            <option name="tel" value="tel">Telephone Number</option>
            <option name="facetime" value="facetime">Facetime (Telephone Number or Email)</option>
            <option name="facetimeaudio" value="facetimeaudio">Facetime Audio (Telephone Number or Email)</option>
            <option name="email" value="email">E-Mail Message</option>
            <option name="sms" value="sms">SMS Message</option>
            <option name="wifi" value="wifi">Wi-Fi Access</option>
            <option name="geo" value="geo">Geographical Location</option>
            <option name="event" value="event">Calendar Event</option>
        </select>
        <input type="submit" value="Send">
<%- include("url.ejs") %>
<%- include("tel.ejs") %>
<%- include("facetime.ejs") %>
<%- include("facetimeaudio.ejs") %>
<%- include("email.ejs") %>
<%- include("sms.ejs") %>
<%- include("wifi.ejs") %>
<%- include("geo.ejs") %>
<%- include("event.ejs") %>        
    </form>
</div>